{{define "title"}}Contact{{end}}

{{define "content"}}
<section class="contact">
    <div class="contact-info">
        <h2>Get in Touch</h2>
        <p><strong>Email:</strong> victorflindt@gmail.com</p>
        <p><strong>Phone:</strong> +45 93 92 91 69</p>
        <p><strong>Location:</strong> Copenhagen, Denmark</p>
        <p><strong>Social:</strong> <a href="https://twitter.com/yourhandle">Twitter</a> | <a href="https://www.linkedin.com/in/victor-flindt-906307129/">LinkedIn</a></p>
    </div>
</section>
{{end}}